.success {
    box-shadow: var(--box-shadow-in);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--green);
    line-height: 2;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 400px;
    padding: 20px;
    text-align: left;
}

.success div:first-child {
    border-bottom: 1px solid var(--green);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.success svg {
   margin-right: 6px;
   transform: scale(0.95);
}

.success span {
   font-size: 24px;
   font-weight: 600;
}
