.btn-wallet {
    background-color: var(--white);
    border: var(--border);
    border-radius: 20px;
    box-shadow: var(--box-shadow-out);
    min-width: 160px;
    max-width: 200px;
    margin-right: 20px;
    position: relative;
    text-align: center;
}

.btn-wallet__connect {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.btn-wallet.hover__connect:hover {
    box-shadow: var(--box-shadow-in);
}

.wallet-btn__address {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.wallet-btn__address img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.btn-wallet.hover__connect.active {
    border-bottom: 1px solid transparent;
    border-radius: 20px 20px 0px 0px;
}

@media only screen and (min-width: 750px) {
    .btn-wallet {
        margin-right: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .btn-wallet {
        max-width: 300px;
    }
}
