.modal__connect__wrapper {
    background-color: #31344b2a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.modal__connect__wrapper--wallets {
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow-out);
    margin: 0 auto;
    margin-top: 160px;
    max-width: 420px;
    padding: 20px;
    padding-bottom: 44px;
    text-align: right;
}

.modal__connect__wrapper h3 {
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}

.modal__connect__wrapper--close {
    font-size: 24px;
    text-align: right;
}
