.modal__menu__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.modal__menu {
    background-color: var(--white);
    box-shadow: var(--box-shadow-out);
    min-width: 100%;
    max-width: 750px;
    height: 100%;
}

.modal__menu__top {
    border-bottom: 1px solid var(--lightgray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
